/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,100&family=Outfit:wght@300&display=swap');




/* HOW TO POSITION RIGHT-SECTION? SHOULD WE PLACE POSITION RELATIVE
ON THE ROOT AND THEN ABSOLUTE FOR EACH SECTION? HMMM... */



:root {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
}

.left-section {
    /* display: flex; */
    position: relative;
    height: 100vh;
    width: 100%;
}

.left-section p {
    margin-top: -150px;
}

#arcadia-name {
    font-size: 50px;
    color: white;
    font-weight: 700;
    text-transform: lowercase;
    margin-left: 30px;
    margin-bottom: -20px;
    text-shadow: 2px 2px 2px palevioletred;
}


#pic-author,
.left-section a {
    color: rgba(255, 255, 255, 0.4);
}

#odin-logo {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: -170px;
    margin-left: -30px;
}

#background-img {
    width: 104%;
    height: 100vh;
}

.right-section {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

#div-description {
    text-align: left;
    padding-left: 30px;
    padding-top: 90px;
    padding-bottom: 10px;
}

.form-legend {
    font-size: 2rem;
    font-weight: bold;
    color: palevioletred;
    margin-left: -283px;
}

.form-signup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 700px;
    height: 200px;
    background-color: rgb(241, 228, 233);
    box-shadow: 7px 6px 4px rgba(222, 222, 222, 1.9);;
}
/* 
label {
    padding: 0px;
} */

input[type="text"],
input[type="tel"],
input[type="password"] {
    width: 160px;
    margin-right: 42px;
    border-radius: 7px;
    border: solid rgba(0, 0, 0, 0.2) 1px;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-radius: 7px;
    border: solid rgb(156, 95, 216) 2px;
}


label[for="first-name"],
label[for="password"],
label[for="email"] {
    padding-right: 10px;
}

label[for="email"] {
    padding-left: 29px;
}

label[for="last-name"] {
    padding-right: 11px;
    margin-left: 29px;
}

label[for="phone"],
label[for="password-confirm"] {
    padding-right: 10px;
}

input[type="password"]#password{

    margin-right: 18px;
}

.error-txt {
    color: red;
    font-size: 11px;

}

#last-name:focus {
    border: solid blue 2px;
    text-shadow: 1px 1px 1px black;
}

.btn-primary {
    height: 42px;
    width: 139px;
    background-color: palevioletred;
    border: palevioletred;
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: rgb(161, 81, 108);
}

.btn-div {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    width: 300px;
    padding-left: 30px;
}


#have-account {
    padding-top: 30px;
}

input[type=password].error-field {
    border: solid red 2px;
}